@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Varela+Round&display=swap');
body {
	margin: 0;
	color: white;
	background-color: #2c2f33;
	font-family: 'Cabin', sans-serif;
}
a {
	text-decoration: none;
	font-weight: bold;
}
.wrapper {
	max-width: 1000px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}
.header-title {
	font-size: 3em;
}
.content {
	display: grid;
	grid-template-columns: 1fr;
	grid-column-gap: 0;
	grid-row-gap: 5em;
	align-items: center;
	margin: 4em 0;
}
.image {
	width: 100%;
	animation: moveImage 1s infinite alternate;
}
@keyframes moveImage {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(-20px);
	}
}
.info-title {
	font-size: 2.5em;
	margin: 0;
}
.info-description {
	margin: 2em 0;
	line-height: 1.5em;
	font-size: 1.5EM;
	color: #b3b3b3;
}
.info-btn {
	display: inline-block;
	box-sizing: border-box;
	padding: 1em 2em;
	color: #fff;
	background-color: #8071a8;
	text-transform: uppercase;
	text-decoration: none;
	border-radius: 5px;
	border: 2px solid #8071a8;
	font-family: 'Varela Round', sans-serif;
}
.info-btn:hover {
	background-color: transparent;
	box-shadow: 0 0 5px 0 #aaa;
}
@media screen and (min-width: 720px) {	
	.content {
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 5em;
	}
}	