@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
* {
    box-sizing: border-box;
    -webkit-user-select: none;       
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
body {
    background-color: #6b5b95;
    padding: 3px;
    font-family: 'Poppins', sans-serif;
}
.accordion {
    background-color: #ff6f61;
    color: white;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    border-radius: 5px;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 2EM;
}
.panel {
    background-color: #ffd0cc;
    display: block;
    overflow: hidden;
    border-radius: 5px;
    width: 100%;
    float: left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.panel p {
    padding: 10px;
    display: none;
    font-size: 1.4EM;
    width: 100%;
    line-height: 150%;
}
code {
    background-color: gray;
    color: white;
    font-family: monospace;
    font-weight: 600;
    padding: 3px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 4px;
}
.spc {
    width: 100%;
    float: left;
    height: 10px;
}
b {
    font-weight: 800;
    font-size: 20px;
}
.nsfw {
    text-decoration: none;
    background-color: #ff6f61;
    color: white;
    font-family: monospace;
    font-weight: 600;
    padding: 3px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 4px;
}
.sfw {
    text-decoration: none;
    background-color: #00cc00;
    color: white;
    font-family: monospace;
    font-weight: 600;
    padding: 3px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 4px;
}
.dep {
    text-decoration: none;
    background-color: black;
    color: white;
    font-family: monospace;
    font-weight: 700;
    padding: 4px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 4px;
}